.to-hero-custom-gradient-to {
    --tw-custom-gradient-to: rgba(65, 47, 144, .93);
}

.from-custom-hero-gradient-from {
    --tw-custom-gradient-from: rgb(0 0 0 / 95%);
    --tw-custom-gradient-to: rgba(85, 64, 174, 0);
    --tw-custom-gradient-stops: var(--tw-custom-gradient-from), rgb(19 0 100 / 93%);
}

.bg-custom-gradient-to-r {
    background-image: linear-gradient(to right,var(--tw-custom-gradient-stops));
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(19 0 100 / var(--tw-text-opacity));
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(19 0 100 / var(--tw-bg-opacity));
}

.border-primary {
    --tw-border-opacity: 1;
    border-color: rgb(19 0 100 / var(--tw-border-opacity));
}
